body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   /*background:#6cf;*/
}

.Post {
   border: 1px solid #4f4f4f;
  padding: 10px 40px;
}

.Posts {
   width: 75%;
  position: absolute;
  top: 68px;
  left: 0;
}

/* category*/

.filter {
   position: fixed;
  right: 0;
  top: 68px;
  padding: 10px;
  width: 24%;
  box-sizing: border-box;
  height: 100vh;
  border-left: 1px solid #4f4f4f;
}

/*comments*/
.Comment {
  margin-bottom: 42px;
  white-space: nowrap;
}
